main {
    display: grid;
    grid-column: 1/5;
}
nav ul li:first-child a{
    display: grid;
    justify-self: center; 
    color: var(--color-texto-base);
    background-color: var(--color-back-base);
    border-color: var(--color-back-base);
    border-width:  0px 9vw 0px 9vw;
    border-radius: 0.5rem;
    border-style: solid;
}
nav ul li a:hover {
    display: grid;
    justify-self: center; 
    color: var(--color-back-base);
    background-color: var(--color-texto-base);
    border-color: var(--color-texto-base);
    border-width:  0px 9vw 0px 9vw;
    border-radius: 0.5rem;
    border-style: solid;
}
nav ul li:last-child a{
    display: grid;
    justify-self: center; 
    color: var(--color-back-base);
    background-color: var(--color-texto-base);
    border-color: var(--color-texto-base);
    border-width:  0px 9vw 0px 9vw;
    border-radius: 0.5rem;
    border-style: solid;
}
section.tarjeta {
    padding: 2em 2em 2em 2em;
    margin: 1em 1em 1em 1em;
    border-style: none;
    border-color: var(--color-texto-base);
    border-radius: 2em;
    color: var(--color-texto-base);
}

.img {
    display: flex;
    justify-content:space-around
}
article img {
    padding: 1rem;
    width: 25%;
}