nav ul li:first-child a{
    display: grid;
    justify-self: center; 
    color: var(--color-texto-base);
    background-color: var(--color-back-base);
    border-color: var(--color-back-base);
    border-width:  0px 7rem 0px 7rem;
    border-radius: 0.5rem;
    border-style: solid;
}
nav ul li a:hover {
    display: grid;
    justify-self: center; 
    color: var(--color-back-base);
    background-color: var(--color-texto-base);
    border-color: var(--color-texto-base);
    border-width:  0px 7rem 0px 7rem;
    border-radius: 0.5rem;
    border-style: solid;
}
nav ul li:nth-child(2) a{
    display: grid;
    justify-self: center; 
    color: var(--color-back-base);
    background-color: var(--color-texto-base);
    border-color: var(--color-texto-base);
    border-width:  0px 7rem 0px 7rem;
    border-radius: 0.5rem;
    border-style: solid;
}
main {
    grid-column: 1 / 5; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

section:first-of-type {
    grid-column: 1 / 5; 
    width: 99%; 
    margin: 5px 0px 0px 0px;
    justify-self: center;
    
    padding: 2rem 10vw; 
    background-color: var(--color-back-base);
    border-bottom: 0.1rem solid var(--color-texto-base);
}

#contenedor-estudios {
    grid-column: 2 / 4;
    display: grid;
}